| Адрес
br
= @key.address
br
| Приватный ключ
br
= @key.private_hex
br
| Внимание, сохраните приватный ключ перед продолжением.
br
br
| Мы не храним приватные ключи пользователей. Потеря ключа будет означать потерю доступу к вашему кошельку.

= form_for current_user do |f|
  = f.hidden_field :wallet
  = f.submit 'Сохранить Адрес', data: { confirm: 'Вы действительно сохранили приватный ключ?' }
